GameCore/GameCore/Debug/vc141.pdb
*.obj
GameCore/GameCore/Debug/vc141.idb
*.tlog
*.log
GameCore/Debug/GameCore.pdb
*.ilk
*.ipch
*.exe
*.db
GameCore/.vs/GameCore/v15/Browse.VC.opendb
*.suo
AI Development Project/BoardStateTool/.vs/BoardStateTool/v15/Browse.VC.opendb
*.opendb
*.cache
*.pdb
*.ide-wal
*.ide-shm
*.ide
*.lock
CSharpSolution/GameCore/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CSharpSolution/GameCore/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CSharpSolution/GameCore/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CSharpSolution/GameCore/bin/Debug/GameCore.exe.config
*.pch
*.idb
*.dll
*.lib
*.exp
*.ipdb
*.iobj
