GameCore/GameCore/Debug/vc141.pdb
*.obj
GameCore/GameCore/Debug/vc141.idb
*.tlog
*.log
GameCore/Debug/GameCore.pdb
*.ilk
*.ipch
*.exe
*.db
GameCore/.vs/GameCore/v15/Browse.VC.opendb
*.suo
AI Development Project/BoardStateTool/.vs/BoardStateTool/v15/Browse.VC.opendb
*.opendb
*.cache
*.pdb
*.ide-wal
*.ide-shm
*.ide
*.lock
CSharpSolution/GameCore/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CSharpSolution/GameCore/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CSharpSolution/GameCore/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CSharpSolution/GameCore/bin/Debug/GameCore.exe.config
*.pch
*.idb
*.dll
*.lib
*.exp
*.ipdb
*.iobj
*.db-shm
*.db-wal
CSharpSolution/GameCore/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CSharpSolution/GameCore/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CSharpSolution/GameCore/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CSharpSolution/GameCore/obj/Debug/build.force
CSharpSolution/GameCore/obj/Debug/GameCore.csproj.FileListAbsolute.txt
CSharpSolution/GameCore/obj/Release/GameCore.csproj.FileListAbsolute.txt
Graphics Folder/After Effects Files/Main Menu Background_AME/Menu Background.mp4
Graphics Folder/After Effects Files/Adobe After Effects Auto-Save/Main Menu Background auto-save 1.aep
Graphics Folder/After Effects Files/Adobe After Effects Auto-Save/Main Menu Background auto-save 2.aep
Graphics Folder/After Effects Files/Main Menu Background_AME/tmpAEtoAMEProject-Game Intro2.aep
Graphics Folder/After Effects Files/Main Menu Background.aep
Graphics Folder/After Effects Files/Main Menu Background.aep
Graphics Folder/After Effects Files/Main Menu Background.aep
Graphics Folder/After Effects Files/Main Menu Background.aep
Graphics Folder/After Effects Files/Main Menu Background.aep
