GameCore/GameCore/Debug/vc141.pdb
*.obj
GameCore/GameCore/Debug/vc141.idb
*.tlog
*.log
GameCore/Debug/GameCore.pdb
*.ilk
*.ipch
*.exe
*.db
GameCore/.vs/GameCore/v15/Browse.VC.opendb
*.suo
AI Development Project/BoardStateTool/.vs/BoardStateTool/v15/Browse.VC.opendb
*.opendb
*.cache
*.pdb
*.ide-wal
*.ide-shm
*.ide
*.lock
